@import '../../variables.scss';

.wrapper {
    &__slider {
        width: calc(100vw - (100vw - 1440px) / 2);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}

.slider {
    &__buttons {
        display: flex;
        gap: 20px;

        &_prev, &_next {
            width: 45px;
            height: 45px;
            background-color: $gray;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &_next {
            & img {
                transform: rotate(180deg);
            }
        }

        &_accent {
            background-color: $accent;
            color: #fff;
            border: none;
            padding: 12px 73px;
            border-radius: 10px;
            margin-right: 10px;
            text-decoration: none;
            transition: $transition;

            &:hover {
                background-color: $accentHover;
            }
        }
    }
}

@media (max-width: 1440px) {
    .wrapper {
        &__slider {
            max-width: 1440px;
            width: calc(100% + 30px);
        }
    }
    
    .slider {
        &__buttons {
            &_accent {
                margin-right: unset;
            }
        }
    }
}

@media (max-width: 1280px) {
    .slider {
        &__buttons {
            &_accent {
                margin-right: 30px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .slider {
        &__buttons {
            &_accent {
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .slider {
        &__buttons {
            &_accent {
                padding: 12px 25px;
                margin-right: 10px;
            }

            &_prev, &_next {
                width: 35px;
                height: 35px;
            }
        }
    }
}

@media (max-width: 480px) {
    .wrapper {
        &__slider {
            width: 100%;
        }

        &__footer {
            margin-top: 30px;
        }
    }

    .slider {
        &__buttons {
            &_accent {
                padding: 12px 25px;
                margin-right: 0;
            }
        }
    }
}